# ==========================
# Python Virtual Environments
# ==========================
.venv/
venv/

# ==========================
# Python Cache
# ==========================
__pycache__/
*.py[cod]

# ==========================
# IDE Settings
# ==========================
.vscode/

# ==========================
# Environment Variables
# ==========================
.env

# ==========================
# Operating System Files
# ==========================
.DS_Store
Thumbs.db